<p-table [value]="ranks" responsiveLayout="scroll">
  <ng-template pTemplate="header">
      <tr>
          <th class="p-2">Rank</th>
          <th class="p-2" colspan="2">Player</th>
          <th class="p-2">Challengers</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rank>
      <tr>
          <td class="p-0 ">
            <div class="grid align-items-center ">
              <div class="col-1 col-offset-2 grid-nogutter">
                <h2 class="m-0">{{rank.rank}}</h2>
              </div>
              <div class="col-1 ">
                <i class="pi {{ rank.rankChangedIcon.name }} text-xs {{ rank.rankChangedIcon.color }} font-bold">{{rank.rankChangedNumber}}</i>
              </div>
            </div>
          </td>
          <td class="p-0"><p-avatar image="{{ rank.img }}"></p-avatar></td>
          <td class="p-0"><p class="m-0">{{rank.name}}</p></td>
          <td>
            <p class="m-0 text-xs">Throwed 1/1</p>
            <p class="m-0 text-xs">Received 1/2</p>
          </td>

      </tr>
  </ng-template>
</p-table>
